

body {
  background-color: rgb(131, 119, 147);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.form-title { 
  font-size: 42px; 
  font-family:fantasy; 
  font-weight: 800; 
  letter-spacing: 0.5px; 
  color: #e9e5e3; 
  text-align: center;
  padding-bottom: 12px; 

}


body {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-card {
  width: 50%;
  max-width: 350px;
  padding: 25% 25% 25% 25%;
}

.form-title {
  font-size: 42px;
  font-family: fantasy;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #e9e5e3;
  text-align: center;
  padding-bottom: 12px;
}

.form-subtitle {
  font-size: 18px;
  font-family: 'fantasy';
  letter-spacing: 0.5px;
  color: #d6cbcb;
  padding-bottom: 24px;
}

.auth {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 12px;
}
.auth-label {
  top: 8px;
  left: 18px;
  font-size: 20px;
  color: rgb(175, 175, 175);
  font-family: fantasy;
  width: 100px;
}

.auth-input {
  background-color: #3e404b;
  color: white;
  font-family: "fantasy";
  outline:auto;
  border: none;
  border-radius: 8px;
  padding: 24px 18px 12px 18px;
  width: calc(100% - 18px - 18px);
  margin-bottom: 12px;
}
.auth-button {
  width: 100%;
  height: 53px;
  color: white;
  background-color: #b1a7bb;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: "fantasy";
  cursor: pointer;
  transition: all .44s ease;
  -webkit-transition: all .44s ease;
  -moz-transition: all .44s ease;
}
.auth-button:hover { filter: brightness(145%); }

.chat-wrapper {
  height: 80vh; 
  width: 80%;
  margin-left: 10%; 
  color: white; 
  background: rgb(4, 5, 5);
}

#pic1{
  text-align: center;

}

.intro {
  position: fixed;
  top: 300px;
  left: 30px;
  font-family: fantasy;
  font-size: 20px;
  color: aliceblue;
}

.socail-link{
  position: fixed;
  top: 250px;
  left: 30px;
  font-family: fantasy;
  font-size: 20px;
  color: aliceblue;
}
